:root {
 
  --text-color-sm : #333;
  --text-color-md :#f1356d;
  --border-color : #dbd6d6;
  --shadow-color: rgba(0, 0, 0, 0.1)
} 

* {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--text-color-sm);
}

.navbar {
  /* background-color: yellow; */
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1{
  color: var(--text-color-md);
}

.navbar .links{
margin-left: auto;
}
.navbar a{
  margin-left: 16px;
  text-decoration: none;
}
.navbar a:hover{
  color: var(--text-color-md);
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews list css */

.blog-previews{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid var(--border-color);
}

.blog-previews:hover{
  box-shadow:  1px 3px 5px var(--shadow-color);
}
.blog-previews h2{
  font-size: 20px;
  color: var(--text-color-md);
  margin: 0 0 8px 0;
}


/* buttons css */

button{
  background: rgb(182, 189, 190);
  color: var(--text-color-md);
  border: 1px dashed var(--text-color-sm);
  padding: 2px 5px;
  margin: 8px 0 0 0;
  font-size: 16px;
  transition: all 200ms ease-out;
}

button:hover{
  background: var(--text-color-md);
  color: rgb(182, 189, 190);
  box-shadow: 1px 3px 5px var(--shadow-color);
}